{erl_opts, [{parse_transform, lager_transform}, {src_dirs, ["src", "test"]},
            warn_unused_vars,
            warn_export_all,
            warn_shadow_vars,
            warn_unused_import,
            warn_unused_function,
            warn_bif_clash,
            warn_unused_record,
            warn_deprecated_function,
            warn_obsolete_guard,
            strict_validation,
            warn_export_vars,
            warn_exported_vars,
            warn_missing_spec,
            warn_untyped_record, debug_info]}.
{deps_dir, "deps"}.
{deps, [{eper,                  "0.*" , {git, "git@github.com:mhald/eper.git",                          "master"}},
        {worker_pool,           ".*",   {git, "git@github.com:tigertext/worker_pool.git",               "master"}},
        {lager_popcorn_backend, ".*",   {git, "git@github.com:marccampbell/lager_popcorn_backend.git",  "master"}},
        {lager,                 "2.0.0",{git, "git://github.com/basho/lager.git",                       "master"}}]}.
{xref_warnings, true}.
{xref_checks, [undefined_function_calls, undefined_functions, locals_not_used, deprecated_function_calls, deprecated_functions]}.
{ct_extra_params,"-no_auto_compile -dir ebin -logdir log/ct -smp enable -setcookie tigertext_lucene -boot start_sasl -s lager -s wpool -config priv/test.config"}.
{edoc_opts, [{report_missing_types, true}, {source_path, ["src"]}, {report_missing_types, true}, {todo, true}, {packages, false}, {subpackages, false}]}.
{pre_hooks, [{compile, "mkdir -p bin"}]}.
{post_hooks, [{clean, "rm -rf bin priv/lucene_server.jar"},
              {compile, "javac -g -verbose -deprecation -sourcepath java_src -classpath ./bin:/usr/local/lib/erlang/lib/jinterface-1.5.6/priv/OtpErlang.jar:./priv/* -d bin `find java_src -name *.java`"},
              {compile, "jar cf priv/lucene-server.jar -C bin ."}]}.
{cover_enabled, true}.
