[
 %% SASL config
 {sasl, [
         {sasl_error_logger, {file, "log/sasl-error.log"}},
         {errlog_type, error},
         {error_logger_mf_dir, "log/sasl"},      % Log directory
         {error_logger_mf_maxbytes, 104857600},   % 100 MB max file size
         {error_logger_mf_maxfiles, 5}           % 5 files max
        ]},

%% Lager config
 {lager, [
          {handlers,
           [
            {lager_console_backend, [debug,true]}
           ]}
         ]},

 {lucene_server,
    [{java_args,    ["-Xmx128m"]},
     {java_threads, 75}]}
].
